@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SiMed <span class="glyphicon glyphicon-ok"></span></h1>
    <p class="lead">
        We pride ourselves with being a very forward thinking practice and we work holistically with our patients and where appropriate their families to ensure that they receive the treatment and care that works for them.
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>About Us</h2>
        <p>
            We are a friendly team of professionals committed to bringing you the best medical care possible. Our team consists of 6 doctors, 7 practice nurses and a 12 strong management and administration team including our receptionists. We also work very closely with our Community Healthcare Team who provide antenatal, postnatal and nursing services and other specialist provision such as the Quitters scheme.
        </p>
        <p><a class="btn btn-success" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>More</h2>
        <p>We offer home visits to our patients that are unable to come to the surgery. This may be because they are elderly, too unwell to leave the home or have difficulty with mobility. If you think you or someone you are caring for requires a home visit please phone the surgery. One of our receptionists will arrange for a doctor to call you back to assess whether a home visit is the most appropriate course of action and if so, arrange a time to visit.</p>
        <p><a class="btn btn-success" href="#">Learn more &raquo;</a></p>
    </div>
</div>